<!DOCTYPE html>
<html>
<head>
    <title>Book Results</title>
</head>
<body>
    <main>
        <h4>Search Results</h4>
        <ul class="search-results">
         <% items.forEach(item => { %>
        <li>
            <section>
                <h4> <%= item.title %> </h4>
                <p> Author: <%= item.author %></p>
                <img src="<%= item.image_url %>">
                <p><%= item.description%></p>
            </section>
        </li>
        <% }) %>
    </ul>
    </main>
    
</body>
</html>